/* Ajuste global */
body {
    padding-top: 80px;
    background: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero {
    height: 85vh;
    background: linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url('assets/img/bg.jpg') center/cover no-repeat;
}
